.chat__screen {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 20px;
}
.chat__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #3a3a3a;
  border-radius: 8px;
  height: 100%;
}
.chat__msgs {
  height: 80%;
  overflow-y: scroll;
}
.chat__message {
  margin-top: 10px;
  background-color: #212121;
  padding: 10px;
  border-radius: 8px;
}
.chat__msg-time {
  font-style: italic;
  font-size: 13px;
  margin-right: 10px;
}

.chat__input {
  width: 60%;
  border-radius: 8px;
  border: none;
  height: 40px;
  margin-left: 10px;
}
.chat__input-action{
  display: flex;
  width: 40%;
}

.chat__msg-Author {
  font-size: 14px;
  font-style: italic;
}
.chat__channelsMobile {
  height: 70%;
  margin-right: 5px;
}

@media screen and (max-width: 574px) {
  .chat__screen {
    width: 100%;
    margin-right: 20px;
  }
}
form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  margin-top: 10px;
  background-color: #3a3a3a;
  border-radius: 8px;
  width: 100%;
  display: flex;
  align-items: center;
}


@media screen and (min-width:574px) {
  .channels__mobile-toggle{
    display: none;
  }
}